input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.paragraf {

}

p[class="paragraf"] {

}

h1[class="paragraf"] {

}

.addJs {
    color: red;
    background-color: yellowgreen;
    font-size: 25px;
}

#newElement {
    display: grid;
    grid-template-columns:  auto auto;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-top: 25px;
}

